// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&display=swap');

/*
dark blue = #264653 
lt blue = #457b9d
red = #e63946
pale = #e8ecef
*/

body {
	font-family: 'Poppins', sans-serif;
	color: #264653;
}

h1, h2, h3, h4 {
	margin: 40px 0 10px 0;
}

h1 {
	font-size: 3em;
	font-weight: 800;
	text-align: center;
}

h2 {
	font-size: 2em;
}

p {
	background-color: rgba(255, 255, 255, .85);
	padding: 5px;
}

li {
	font-size: 1em;
}

li p {
	margin:0;
	padding: 0;
}

#wrapper-footer {
	border-top: 2px solid $primary;
	background-color: #efefef;
	margin-top: 40px;
}

#wrapper-footer p {
	background-color: #efefef;
}

.center-label {
	font-size: 2em;
	font-weight: 900;
	display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;

}

.center-label:before, .center-label:after {
    content: '';
    border-top: 5px solid $orange;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}


.center-label:after {
    margin: 0 0 0 20px;
}

.book-resource{
	margin: 30px 0;
	font-size: 1.5em;
	font-weight: 800;
	text-align: center;
	position: relative;
	background-color: #dad8d8;
	transition: all .6s;
	transition-property: border;
    transition-duration: 1s;
    border: 3px solid #dad8d8;
}

.book-resource:hover{
	border: 3px solid $orange;
}

.cover {
	width: 100%;
	object-fit: cover;
}

.talk, .interview, .trailer, .read {
	width: 50px;
	height: 50px;
	background-color: rgba(0,0,0,.4);
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40px 40px ;
	position: absolute;
	top: 0;
	left: 0;
}

.talk {
	background-image: url(../imgs/talk.svg);
}

.interview {
	background-image: url(../imgs/interview.svg);
}

.trailer {
	background-image: url(../imgs/trailer.svg);
}

.read {
	background-image: url(../imgs/read.svg);
}