// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;800&display=swap');

/*
dark blue = #264653 
lt blue = #457b9d
red = #e63946
pale = #e8ecef
*/

body {
	font-family: 'Poppins', sans-serif;
	color: #264653;
}

h1 {
	font-size: 3em;
	font-weight: 800;
	text-align: center;
}

h2 {
	font-size: 2em;
}

p {
	background-color: rgba(255, 255, 255, .85);
	padding: 5px;
}

li {
	font-size: 1em;
}